# While Loop

In [11]:
#% is for divide
a = 0
while a<15:
    if a%2==0:
        print(f'{a} is an even number ')
        a+=1
    else: 
        print(f'{a} is an odd number ')
        a+=1

0 is an even number
1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number

In [23]:
#it is like an bill amount 
bill = [45, 66, 78, 90, 120]
total_bill = 5
for a in bill:
    total_bill+=a
    print(total_bill)

50
116
194
284
404

In [29]:
#it is like a bill amount 
bill = [45, 66, 78, 90, 120]
total_bill = 5
for a in bill:
    total_bill+=a
print(f'The total bill is {total_bill}')
print(f'The average of many spent is {total_bill/len(bill)}')

The total bill is 404
The average of many spent is 80.8

In [33]:
#1. Sum of N Natural Numbers (For Loop)
# Write a Python program to calculate the sum of the first n natural numbers using a for loop. Example: Input: 5 Output: 15
num = 5
sum = 0
for r in range(num+1):
    sum+=r
    print(sum)

0
1
3
6
10
15

In [37]:
#1. Sum of N Natural Numbers (For Loop)
# Write a Python program to calculate the sum of the first n natural numbers using a for loop. Example: Input: 5 Output: 15
num = int(input('Enter the number till which you want the sum'))
sum = 0
for i in range(num+1):
    sum = sum+i
print(f'The sum of the number {num} is {sum}')

Enter the number till which you want the sum 10

The sum of the number 10 is 55

In [47]:
# . Factorial Calculation (While Loop) ## factorial multiply vakole 0 narakhne 
#Write a Python ##program to find the factorial of a given number using a while loop. Example: Input: 4 Output: 
num1 = int(input('Enter the number till which you want the factorial: '))
factorial = 1
for i in range(1, num1+1):
    factorial=factorial*i
print(factorial)

Enter the number till which you want the factorial:  4

24

In [51]:
#4. Reverse a String (While Loop)
#Write a Python program that reverses a given string using a while loop. Example: Input: "hello" Output: "olleh"
#for loop 
string=input('Enter the string that you want to reverse: ')
e_str=""
for i in string:
    e_str=i + e_str
print (e_str)

Enter the string that you want to reverse:  RAM

MAR

In [1]:
#While loop 
string=input('Enter the string that you want to reverse: ')
e_str=""
a = 0
while a<len(string):
    e_str=string[a] + e_str
    a = a+1
print (e_str)

Enter the string that you want to reverse:  RAM

MAR

## Break and Continue

In [1]:
##loop lai break garne 
a=0
while a<10:
    if a == 3:
        break
    else: 
        print(f'{a}')
        a+=1

0
1
2

In [3]:
#contineou le skip gardinxa 
a=0
while a<10:
    if a == 3:
        a+=1
        continue
    else: 
        print(f'{a}')
        a+=1

0
1
2
4
5
6
7
8
9

In [7]:
# simple match case statement
def runMatch():
    num = int(input("Enter a number between 1 and 3: "))
    
    # match case
    match num:
        # pattern 1
        case 1:
            print("One")
        # pattern 2
        case 2:
            print("Two")
        # pattern 3
        case 3:
            print("Three")
        # default pattern
        case _:
            print("Number not between 1 and 3")
            
runMatch()

Enter a number between 1 and 3:  2

Two

# Functions

In [2]:
#call
def add():
    print('The function is working')

In [4]:
add()

The function is working

In [6]:
#argument pass 
def test(a, b, c, d, e):
    x=a+b-c
    y =x+d+e
    print(y)

In [8]:
test(45,60,70,10,10)

55

In [10]:
test(100,200,250,130,150)

330

### Argument and parameters

In [13]:
#argument diff for difference, def = define 
def diff(x,y):
    print(x-y)

In [15]:
#parameters 
diff(20, 4)

16

In [18]:
#dherai vaya pani milayara argument anusar pass gardaxa 
def test(*val):
    x=val[0] - val[1]
    y =x-val[2]+val[3]+val[4]
    print(y)

In [38]:
test(70, 60, 70, 90, 30, 20)

60

In [62]:
#tuple ma lagxa  
def test (*val):
    print(val[0])
    print(val[1])
    print(val[2])

In [64]:
test(40, 60, 70, 80, 90)

40
60
70

In [58]:
#dictionary case ma lagne 
def test(**val):
    print(val['name'], val['age'], val['city)

In [60]:
test (name = 'Ram', age = 27, city='Kathmandu')

Ram 27 Kathmandu

In [72]:
def status(city='Kathmandu', name = 'Ram', age = 27):
    print(f'I live {city}. I am {name} and my age is {age}')

In [74]:
status()

I live Kathmandu. I am Ram and my age is 27

In [ ]:
status('Nuwakot', 'Sita', 24)

In [66]:
def test(*args):
    for i in args:
        print()

In [68]:
test (3, 4, 7, 90, 89, 70, 65, 77)

3
4
7
90
89
70
65
77

In [88]:
#key and value both can print as dictionary 
def test(**args):
    for i,j in args.items():
        print(i,j)

In [90]:
test(name='Ram', age = 27, city = 'Jhapa')

name Ram
age 27
city Jhapa

In [46]:
def status(city, name, age = 27):
    print(f'I live {city}. I am {name} and my age is {age}')

In [48]:
status(name='Ram', city = 'Jhapa')

I live Jhapa. I am Ram and my age is 27

In [100]:
#write a program to calculate the interest 
def inte_pro(p,t,r):
    i=(p*t*r)/100
    print(f'Your interest of the given amount is {i}')
p=int(input('Enter the principle amount in NPR'))
r=int(input('Enter the yearly rate of interest'))
t= int(input('Enter the time in year'))
inte_pro(p,t,r)

Enter the principle amount in NPR 1000000
Enter the yearly rate of interest 21
Enter the time in year 2

Your interest of the given amount is 420000.0